[submodule "libs/juce6.0/source"]
	path = libs/juce6.0/source
	url = https://github.com/DISTRHO/JUCE.git
[submodule "libs/sst-waveshapers"]
	path = libs/sst-waveshapers
	url = https://github.com/surge-synthesizer/sst-waveshapers.git
